@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  font-family: 'Audiowide', sans-serif;
/* font-family: 'Gugi', sans-serif; */
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

