@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  font-family: 'Maven Pro', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Audiowide', sans-serif; */
/* font-family: 'Gugi', sans-serif; */
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}
@media (max-width: 768px) {
  .hiddenOnMobile {
    display: none;
  }
  
  .visibleOnDesktop {
    display: block; /* or inline, flex, etc. depending on your layout needs */
  }
}
